<h1>Commits</h1>

<table class="table table-striped">
    {{#each}}
        <tr>
            <td><img {{bind-attr src=author.avatar_url}} style="width:150px;" alt=""/></td>
            <td>
                <h5>{{sha}}</h5>

                <p>{{commit.message}}</p>

            <hr />
            <p class="text-muted" >{{fromDate created_at}}</p>
            </td>
        </tr>
    {{else}}
        <td>
            <p class="text-muted">No Commits!.</p>
        </td>
    {{/each}}
</table>